.playwrite-cl {
  font-family: "Playwrite CL", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.heading {
  line-height: 7rem;
  animation: all 2s ease-in-out;
}
.headingImage {
  width: 800px;
}
.sub-heading {
  font-size: 1rem;
}
.cardImage:hover {
  transition: all 0.1s ease-in-out;
  transform: scale(1.05);
}

@media (orientation: portrait) {
  .root {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-image: url(../public/forWave.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (max-width: 500px) {
  .heading {
    font-size: 15vw;
    line-height: 20vw;
  }
  .smartBoard {
    display: none;
  }
  .sub-heading {
    font-size: 5vw;
    /* line-height: 3vw; */
    width: 90%;
  }
  .firstPage {
    width: 100%;
    min-height: 100px;
  }
  .headingContainer {
    min-height: 300px;
  }
}
@media (max-width: 750px) {
  .cardContainer {
    flex-direction: column;
  }
}
@media (min-width: 500px) and (max-width: 900px) {
  .smartBoard {
    display: none;
  }
  .heading {
    font-size: 10vw;
    line-height: 10vw;
  }

  .sub-heading {
    font-size: 5vw;
    line-height: 4vw;
    width: 100%;
  }
  .firstPage {
    height: 100vw;
    width: 90%;
  }
  .headingContainer {
    /* height: 100vw; */
  }
}
@media (max-width: 900px) {
  .navigation {
    display: none;
  }
}
@media (min-width: 900px) and (max-width: 1560px) {
  .headingImage {
    width: 50vw;
    height: 50vw;
  }
  .heading {
    font-size: 5vw;
    line-height: 5vw;
  }
  .headingContainer {
    /* padding-top: 100px; */
  }
}
