.playwrite-cl {
  font-family: "Playwrite CL", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}
.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}



@font-face {
  font-family: "Meshed Display";
  src: url("../public/font/MeshedDisplay-BoldSlanted.ttf") ;
}

@font-face {
  font-family: "meshed-regular";
  src: url("../public/font/MeshedDisplay-Regular.otf");
}
@font-face{
  font-family: "helvetica";
  src:url("../public/font/Helvetica.ttf")
}
@font-face{
  font-family:"helve-comp";
  src:url("../public/font/helvetica-compressed.otf")
}
@font-face{
  font-family:"halve-second";
  src:url("../public/font/helvetica-light.ttf")
}
@font-face{
  font-family:"nexa";
  src:url("../public/font/Nexa-Heavy.ttf")
}
.helvetica{
  font-family: "helvetica";
  
}
.special-font {
  font-family:"Aalto-Display-Personal-use";
  src : url("../public/font/Aalto-Display-Personal-use.otf");
  font-weight:400;
  font-style: normal;

}
.special-font2{
  font-family:"Meshed Display" ;
  font-weight:900;
}

.special-font3{
  font-family: "meshed-regular";
  font-weight: 500;
}


.heading {
  line-height: 7rem;
  animation: all 2s ease-in-out;
}
.headingImage {
  width: 800px;
}
.sub-heading {
  font-size: 1rem;
}
.cardImage:hover {
  transition: all 0.1s ease-in-out;
  transform: scale(1.05);
}

@media (orientation: portrait) {
  .root {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-image: url(../public/forWave.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
}
@media (max-width: 500px) {
  .heading {
    font-size: 15vw;
    line-height: 20vw;
  }
  .smartBoard {
    display: none;
  }
  .sub-heading {
    font-size: 5vw;
    /* line-height: 3vw; */
    width: 90%;
  }
  .firstPage {
    width: 100%;
    min-height: 100px;
  }
  .headingContainer {
    min-height: 300px;
  }

}
@media (max-width: 750px) {
  .cardContainer {
    flex-direction: column;
  }
}
@media (min-width: 500px) and (max-width: 900px) {
  .smartBoard {
    display: none;
  }
  .heading {
    font-size: 10vw;
    line-height: 10vw;
  }

  .sub-heading {
    font-size: 5vw;
    line-height: 4vw;
    width: 100%;
  }
  .firstPage {
    height: 100vw;
    width: 90%;
  }
  
}
@media (max-width: 900px) {
  .navigation {
    display: none;
  }
}
@media (min-width: 900px) and (max-width: 1560px) {
  .headingImage {
    width: 50vw;
    height: 50vw;
  }
  .heading {
    font-size: 5vw;
    line-height: 5vw;
  }
  
}


.slick-prev:before,.slick-next:before {
  color: black !important
}